* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background: #fff04e;
  font-size: 16px;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  html .btn {
    font-size: 24px;
  }

  html .display {
    font-size: 24px;
  }
}

.wrap {
  margin: 0 auto;
  max-width: 500px;
  height: 100vh;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.btn-container {
  width: 25%;
  height: 0;
  padding-bottom: 25%;
  display: flex;
  justify-content: center;
  /*   background: red; */
  position: relative;
}

.btn {
  /*     font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(3px + 21 * ((100vw) / 500));

  top: 50%;
  transform: translateY(-50%);
  width: 75%;
  height: 75%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

  position: absolute;
  font-weight: bold;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12%;

  cursor: pointer;
}

.btn .svg {
  background: red;
}

.btn:active {
  opacity: 0.7;
}

.uppercase {
  text-transform: uppercase;
}

.circle {
  background: #f4e000;
  border-radius: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

.display {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  font-weight: bold;
  font-size: inherit;
  font-size: calc(3px + 21 * ((100vw) / 500));
  padding: 15px;
  margin: 3%;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.display-word-selected {
  background: blue;
  color: white;
  padding: 4px;
  border-radius: 2px;
}

.display-word-selected-complement {
  opacity: 0.3;
}

.cursor {
  position: relative;
  display: inline-block;
  width: 0;
}

.cursor:after {
  position: absolute;
  bottom: -8px;
  content: "";
  width: 15px;
  height: 3px;
  background: #060606;
}

.suggestions {
  display: flex;
}

.suggest-word {
  background: grey;
  color: white;
  padding: 4px;
  border-radius: 2px;
  margin-top: 25%;
  margin-left: 2.5%;
}

.suggest-word-selected {
  background: blue;
}
